import React, { useState } from 'react'
import './{{ properCase name }}.css'

const {{properCase name}} = () => {
  return (
    <div className="{{ properCase name }}-page">
    </div>
  )
}

export default  {{properCase name}}